*{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    
}
li{
    list-style: none;
}
a{text-decoration: none;}
.h100vh{ height: 100vh;}

#root{
    a{
        color:black
    }
    a:hover{
        color:rgb(227, 96, 73);
        transition: 0.3s;
    }

    h1{
        max-width:9.5rem;
        svg{
            height:3rem;
            
            transform-origin: center;
            transition: 0.5s;
            #blackIcon{
                transform: translateY(-200%);
                transition: 0.5s;
            }
            #deaback{
                transform: translateY(-200%);
                transition: 0.5s;
            }
        }
    }
}
    #hd{
        background-color: white;
        transition: 1s;
        a{font-family: 'EB Garamond';}
        &.scroll{
            background-color: rgba(0,0,0,.5);
            transition: 1s;
            a{
                color:white;
            }
            h1 svg{
                transform: translateY(0);
                g{ 
                    fill: white;
                }
                #blackIcon{
                    transform: translateY(0);
                }
                #deaback{
                    transform: translateY(0);
                }
            }
        }
        #allMenu{
            font-weight: 500;
        }

        .mobileNavi{
            position: absolute;
            top: calc(100% + 1px);
            left:0;
            right:0;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition:  max-height 0.5s ease-out;

            a{
                color:black 
            }
            &:before,
            &:after{
                content: "";
                display: block;
                height: 1rem;
            }
            &.on{
                max-height: calc(100vh - 50px); 
            }
        }
    }
    #mainbanner{
        .swiper-wrapper{
            .swiper-slide{
                min-height: calc(100vh - 120px);
                display: flex;
                justify-content: center;
                align-items: center;
     
            }
            .mainswiper_pt{
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }
        .swiper-scrollbar-horizontal{
            height: 2px;
            bottom:0;
            left:0;
            right:0;
            width:100%;
        }
    }
    #bestphoto{
        .swiper-wrapper{flex-direction: row;}
        .swiper {
            width: auto;
            height: 100vh;
            margin-left: 12rem;
            margin-right: 12rem;
          }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2);
          }
          .bestphoto_pt{
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }

    #gallery{
        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            
        }
          
        .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
        }
          
        .swiper-slide img {
        display: block;
        width: 100%;
        }
        .swiper-scrollbar-horizontal{
            display: none;
        }
        .swiper-pagination-bullet{
            display: none;
        }
    }


    h3{
        margin-top: 4rem;
        padding: 0 80px;
        font-size: 50px;
        color: #211e1f;
        font-weight: 500;
        letter-spacing: 5.5px;
        line-height: 1;
        font-family: 'EB Garamond', sans-serif;
    }
    p{
        display: block;
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #c9ab81;
        line-height: 30px;
        letter-spacing: -1px;
        font-family: 'Noto Serif Kr';
        word-break: keep-all;
    }





