*{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    letter-spacing: -0.083em;
}
li{
    list-style: none;
}
.h100vh{ height: 100vh;}

#root{
    a{
        color:black
    }
    a:hover{
        color:rgb(227, 96, 73);
    }

    h1{
        max-width:9.5rem;
        svg{
            height:3rem;
            
            transform-origin: center;
            transition: 0.5s;
            #blackIcon{
                transform: translateY(-200%);
                transition: 0.5s;
            }
            #deaback{
                transform: translateY(-200%);
                transition: 0.5s;
            }

        }

    }
    

    #hd{
        background-color: white;
        transition: 1s;
        &.scroll{
            background-color: rgba(0,0,0,.5);
            transition: 1s;
            a{
                color:white;
            }
            h1 svg{
                transform: translateY(0);
                g{ fill: white;
                    
                }
                
                #blackIcon{
                    transform: translateY(0);
                }
                #deaback{
                    transform: translateY(0);
                }

            }
            

        }
        #allMenu{
            font-weight: 500;
        }

        .mobileNavi{
            position: absolute;
            top: calc(100% + 1px);
            left:0;
            right:0;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition:  max-height 0.5s ease-out;

            a{
                color:black !important
            }

            &:before,
            &:after{
                content: "";
                display: block;
                height: 1rem;

            }

            &.on{
                max-height: calc(100vh - 50px); 
                
            }

        }
        
    }
    .workSection{
        .swiper-wrapper{
             .swiper-slide{
                min-height: calc(100vh - 120px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
             }
             .react{
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
             }
             .boot{
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
             }
             .sir{
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
             }
             
        }
        .swiper-scrollbar-horizontal{
            height: 2px;
            bottom:0;
            left:0;
            right:0;
            width:100%;
        }
    }

    .section{
        height: calc(100vh - 120px);
        min-height:800px;
    }
}